.container {
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
}

.inputs {
  display: flex;
  justify-content: space-around;
  column-gap: 8px;
  width: min-content;
  margin: auto;
}

#results {
  margin: 8px 0;
  text-align: center;
  white-space: pre-line;
  line-height: 150%;
}